body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    text-align: center;
}

/* Контейнер для графика и конфигурации */
.main-container {
    display: grid;
    grid-template-columns: 1fr;  /* Один столбец */
    grid-template-rows: auto 1fr;  /* Две строки: первая для графика, вторая для конфигурации */
    align-items: center; /* Выровнять по вертикали */
    justify-items: center; /* Центрировать по горизонтали */
    width: 80%; /* Общая ширина контейнера */
}

#graph {
    grid-row: 1; /* График будет в первой строке */
    margin-left: auto;
    margin-right: auto;
}

.form-config-container {
    display: grid;  /* Устанавливаем сетку для контейнера конфигурации */
    grid-template-columns: 1fr 1fr;  /* Два столбца: один для формы, другой для конфигурации */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column; /* Разместить элементы по вертикали */
    justify-content: center; /* Выровнять по вертикали в центре */
    align-items: flex-start; /* Выравнивание по левому краю */
    padding: 20px; /* Добавим отступы */
}

.config-container {
    display: flex;
    flex-direction: column; /* Разместить элементы по вертикали */
    justify-content: center; /* Выровнять по вертикали в центре */
    align-items: flex-start; /* Выравнивание по левому краю */
    padding: 20px; /* Добавим отступы */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Стили для формы */
form label, form input, form button {
    display: block;
    margin-bottom: 10px;
}

#responseMessage {
    margin-top: 20px;
    color: green;
}




/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin: 0;*/
/*}*/
/*h1 {*/
/*    text-align: center; !* Центрирование заголовка *!*/
/*}*/
/*#graph {*/
/*    margin: auto;  !* Центрирование графика *!*/
/*}*/


/*!* Контейнер для формы и списка конфигурации *!*/
/*.container {*/
/*    position: relative; !* Относительное позиционирование для контейнера *!*/
/*}*/
/*.form-container {*/
/*    width: 75%; !* Ширина формы *!*/
/*}*/

/*!* Формы и список будут занимать определённое место *!*/
/*.config-container {*/
/*    width: 75%; !* Каждый элемент займет 45% ширины *!*/
/*}*/
/*.config-container {*/
/*    margin-top: -15px;*/
/*    position: absolute; !* Абсолютное позиционирование *!*/
/*    top: 0; !* Прижимаем к верху формы *!*/
/*    left: 320px; !* Расположим список на небольшом расстоянии от формы *!*/
/*    width: auto; !* Позволяет списку занимать минимально необходимое место *!*/
/*}*/

/*!* Можно добавить отступы для элементов внутри формы и списка *!*/
/*form label, form input, form button {*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*}*/

/*!* Для списка можно добавить стили *!*/
/*ul {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*}*/

/*ul li {*/
/*    margin-bottom: 10px;*/

/*}*/
/*ul, form {*/
/*    padding: 0; !* Убираем внутренний отступ, если он есть *!*/
/*}*/

/*!* Стили для сообщения ответа *!*/
/*#responseMessage {*/
/*    margin-top: 20px;*/
/*    color: green;*/
/*}*/
